/*hiccup notion和Craft书签*/
/*影视 top250*/
@media only screen and (min-width: 500px) {
  .doubantop250 {
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-flex;
    width: 150px;
    font: 12px Helvetica, Arial, sans-serif;
    color: #744900;
    padding: 0px;
    margin-left: 8px;
    background-color: #ffdd1b;

  }
}

@media only screen and (max-width: 500px) {
  .doubantop250 {
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-flex;
    width: 100%;
    font: 12px Helvetica, Arial, sans-serif;
    color: #744900;
    padding: 0px;
    margin-left: 8px;
    background-color: #ffdd1b;

  }
}

.doubantop250books {
  display: inline-flex;
  font: 12px Helvetica, Arial, sans-serif;
  margin: 5px 0 5px 8px;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  padding: 0;

}

.doubantop250books::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--ls-doubanRankingUrlBooks-HighScore1) repeat-x center right/auto 100%;
}

.doubantop250books2 {
  display: inline-flex;
  font: 12px Helvetica, Arial, sans-serif;
  margin: 5px 0 5px 8px;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  padding: 0;

}

.doubantop250books2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--ls-doubanRankingUrlBooks-HighScore11) repeat-x center right/auto 100%;
}

.douobanbookrank-label-no {
  text-align: center;
  height: 18px;
  line-height: 18px;
  position: relative;
  width: 54px;
  color: #8d5500;
  border-radius: 2px;
  overflow: hidden;
  font: 12px Helvetica, Arial, sans-serif;
}

.douobanbookrank-label-no::before {
  /*  background-image: url(/f/book/53c8326…/pics/book/rank_label/other_arrow.png);*/
  color: #835000;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--ls-doubanRankingUrlBooks-HighScore2) no-repeat right center/auto 100%;
}

.douobanbookrank-label-no2 {
  text-align: center;
  height: 18px;
  line-height: 18px;
  position: relative;
  width: 54px;
  color: #8d5500;
  border-radius: 2px;
  overflow: hidden;
  font: 12px Helvetica, Arial, sans-serif;
}

.douobanbookrank-label-no2::before {
  /*  background-image: url(/f/book/53c8326…/pics/book/rank_label/other_arrow.png);*/
  color: #835000;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--ls-doubanRankingUrlBooks-HighScore22) no-repeat right center/auto 100%;
}

.top250No {
  width: 34%;
  display: inline-block;
  text-align: center;
  height: 18px;
  line-height: 18px;

}

.top250NoBook {
  width: 34%;
  display: inline-block;
  text-align: center;
  height: 18px;
  line-height: 18px;
  color: #8d5500;

}

.toptextdou {
  text-align: center;
  height: 18px;
  line-height: 18px;
  position: relative;
  color: #8d5500;

}

@media only screen and (max-width: 500px) {
  .top250Link {
    display: inline-block;
    text-align: center;
    height: 18px;
    line-height: 18px;
    /*width: 66%;*/
    color: #744900;
    /*position: relative;*/
    /*margin-left: 3px;*/
    /*padding: 0 7px 0 5px;*/
    min-width: 50px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 500px) {
  .top250Link {
    display: inline-block;
    text-align: center;
    height: 18px;
    line-height: 18px;
    width: 66%;
    color: #744900;
  }
}

.top250Linkbooksrank-label-link {
  text-align: center;
  height: 18px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding: 0 7px 0 5px;
  color: #ffc46c;
}

.top250Linkbooksrank-label-link2 {
  text-align: center;
  height: 18px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding: 0 7px 0 5px;
  color: #835000;
}

.sc-iwsKbI2 {
  display: flex;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: flex-start;
  position: relative;
  border-radius: 4px;
  font-weight: 500;
  flex-direction: column;
}
/*豆瓣 影视*/
html[data-theme="dark"] .doubanYs {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 10px 20px;
  transition: all 0.3s ease 0s;
  margin: 2px 0;
  background-color: transparent;
  border: 1px solid var(--ls-bookmark-dark-mode-border, rgba(244, 244, 244, 0.12));
}
html[data-theme="light"] .mslink2 {
  color: #686a6c;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="dark"] .mslink2 {
  color: var(--ls-bookmark-subtitle-color, rgba(244, 244, 244, 0.5));
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="light"] .doubanYs {
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 2px 2px;
  transition: all 0.3s ease 0s;
  margin: 2px 0;
  background-color: rgb(255, 255, 255, .5);
  border: 1px solid rgb(238, 238, 238);
}

html[data-theme="light"] .doubanYs:hover {
  --ls-Craft-mslink2: rgb(72, 75, 77);
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 12%) 0px 2px 2px;
}

html[data-theme="dark"] .doubanYs:hover {
  --ls-Craft-mslink2: rgb(255, 255, 255, .7);
}

.sc-VigVT2 {
  -webkit-box-flex: 1;
  flex-grow: 0.8;
  min-width: 1px;
  width: 100%;
}

.ext-bg-color2 {
  position: relative;
  min-width: 0px;
  --bg-color: #f7f7f7;
  -webkit-print-color-adjust: exact;
  border-radius: 4px;
}

.gBYrrQ2 {
  display: flex;
  min-width: 0px;
  align-items: center;
}

.sc-eAKXzc-LeftPatt2 {
  /*左边图片大小*/
  position: relative;
  min-width: 70px;
  width: 70px;
  height: 99px;
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sc-gbOuXE2 {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  background-color: rgb(223, 223, 223);
}

.tupianbj2 {
  width: 100%;
  height: 100%;
  top: 0px;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 7px;
  user-select: none;
  -webkit-user-drag: none;
  /*position: relative;*/
}

.sc-cHSUfg-rightPart2 {
  /*右侧内容块*/
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 0.6;
  min-width: 10px;
  padding: 8px 8px 8px 4px;
  height: 99px;
  box-sizing: border-box;
}

/*豆瓣图书的副标题*/
html[data-theme="light"] .bt-craft2 {
  /*标题块*/
  font-size: var(--ls-page-text-size);
  font-weight: 500;
  line-height: 1.2;
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
  margin-top: -2px;
}

html[data-theme="dark"] .bt-craft2 {
  /*标题块*/
  font-size: var(--ls-page-text-size);
  font-weight: 500;
  line-height: 1.2;
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
  margin-top: -2px;
}

html[data-theme="light"] .btlink2 {
  color: var(--ls-Craft-bt2, #1f2225);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="dark"] .btlink2 {
  color: var(--ls-bookmark-title-color, #ffffff);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.ms-craft4 {
  /*内容块*/
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
  height: 15px;
}

.doubaiScoref30 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -30px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubanscoreText {
  color: var(--ls-Craft-doubanscoreText, #686a6c);
  display: inline;
  margin-left: 5px;
  font-size: 13px;
  height: 15px;
  float: left;
}

.doubanevaluators {
  color: var(--ls-Craft-doubanevaluators, #777879);
  display: inline;
  margin-left: 5px;
  font-size: 12px;
  height: 14px;
  float: left;
  margin-top: 1px;
}

.ms-craft2 {
  /*内容块*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
  margin-top: 4px;
}

.ms-craft3 {
  /*内容块*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
  margin-top: 2px;
}

/*遮罩层*/
.bout {
  position: absolute;
  z-index: 5;
  width: calc(100% - 30px);
  height: 100%;
  margin-left: 30px;
}

/*豆瓣评分的星星评分 如果设备像素大于等于2，则用2倍图  二倍屏 手机端*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
  /*手机字体大小*/
  #root>div {
    font-size: 16px;
  }

  * {
    /*调整字间距*/
    letter-spacing: .2px;
  }

  .text-lg {
    font-size: 17px !important;
  }

  .bt-craft2 {
    /*标题块*/
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    user-select: none;
    margin-top: -1px;
  }
}

.doubaiScoref150 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -150px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref135 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -135px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref120 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -120px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref105 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -105px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref90 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -90px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref75 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -75px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref60 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -60px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref45 {
  float: left;
  background-size: 75px auto;
  display: inline-block;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -45px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref30 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -30px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

.doubaiScoref15 {
  float: left;
  background-size: 75px auto;
  background-image: var(--ls-doubanRankingUrlScore4times);
  background-position: 0 -15px;
  width: 75px;
  height: 15px;
  margin: 1px 0 0 0;
  overflow: hidden;
  zoom: 1;
}

/*豆瓣读书*/
html[data-theme="dark"] .doubanBook {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 1px, rgb(0 0 0 / 8%) 0px 10px 20px;
  transition: all 0.3s ease 0s;
  margin: 2px 0;
  background-color: transparent;
  border: 1px solid var(--ls-bookmark-dark-mode-border, rgba(244, 244, 244, 0.12));
}

html[data-theme="light"] .doubanBook {
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 2px 2px;
  transition: all 0.3s ease 0s;
  margin: 2px 0;
  background-color: rgb(255, 255, 255, .5);
  border: 1px solid rgb(238, 238, 238);
}

html[data-theme="light"] .doubanBook:hover {
  --ls-Craft-mslink2: rgb(72, 75, 77);
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 1px, rgb(0 0 0 / 12%) 0px 2px 2px;
}

html[data-theme="dark"] .doubanBook:hover {
  --ls-Craft-mslink2: rgb(255, 255, 255, .7);
}

/*豆瓣图书副标题*/
html[data-theme="light"] .btlinkFB {
  color: var(--ls-Craft-FB, #1f2225);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 13px;

}

html[data-theme="dark"] .btlinkFB {
  color: var(--ls-douban-book-subtitle, rgba(244, 244, 244, 0.5));
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 13px;
}

/*书摘等上层遮罩，用于点击*/
.aout {
  display: none;
  color: #171513;
  text-decoration: none;
  flex-grow: 1;
  min-width: 0px;
}

.bout {
  position: absolute;
  z-index: 5;
  width: calc(100% - 30px);
  height: 100%;
  margin-left: 30px;
}

.iconout {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin-top: 2px;
}

.iconout:hover {
  padding: 5px;
}

/*craft 书摘*/
html[data-theme="light"] .sc-iwsKbI {
  display: flex;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: flex-start;
  position: relative;
  border-radius: 4px;
  font-weight: 500;
  box-sizing: border-box;
  box-shadow: transparent 2px 0px 0px, transparent -2px 0px 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

html[data-theme="dark"] .sc-iwsKbI {
  display: flex;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: flex-start;
  position: relative;
  border-radius: 4px;
  font-weight: 500;
  box-sizing: border-box;
  box-shadow: transparent 2px 0px 0px, transparent -2px 0px 0px;
  margin-top: 2px;
  margin-bottom: 2px;

}

.sc-VigVT {
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-width: 1px;
}

/*黑暗模式 craft书签背景色*/
html[data-theme="dark"] .ext-bg-color {
  background-color: rgb(45, 45, 45);

}

html[data-theme="light"] .ext-bg-color {
  background-color: #f7f7f7;
}
/*craft标签在引用中的背景色*/
html[data-theme="light"] .references-blocks .ext-bg-color {
  background-color: rgb(203,204,205,.13);
}

/*右侧边栏引用块*/
#right-sidebar-container .color-level .color-level {
  background-color: rgb(232, 236, 238) !important;
}

.ext-bg-color {
  position: relative;
  min-width: 0px;
  -webkit-print-color-adjust: exact;
  border-radius: 4px;
}

.gBYrrQ {
  display: flex;
  min-width: 0px;
  align-items: center;
}

.sc-eAKXzc-LeftPatt {
  position: relative;
  min-width: 56px;
  width: 56px;
  height: 56px;
  margin-left: 8px;
}

.sc-gbOuXE {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
}

.tupianbj {
  width: 100%;
  height: 100%;
  top: 0px;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 4px;
  user-select: none;
  -webkit-user-drag: none;
}

.sc-cHSUfg-rightPart {
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-width: 10px;
  padding: 8px 8px 8px 4px;
  height: 72px;
  box-sizing: border-box;
}

.bt-craft {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
}

html[data-theme="dark"] .btlink {
  color: #FFFFFFCF;
}

html[data-theme="light"] .btlink {
  color: rgba(31, 34, 37, 0.9);
}

.btlink {
  font-size: var(--ls-page-text-size);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.ms-craft {
  font-size: calc(var(--ls-page-text-size) - 1px);
  font-weight: 400;
  line-height: 1.2;
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
}

html[data-theme="light"] .mslink {
  color: var(--ls-craftBookmarks-ms-theme, rgb(76, 85, 93));
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="dark"] .mslink {
  color: var(--ls-bookmark-subtitle-color, rgb(145, 145, 145));
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.url-craft {
  font-size: calc(var(--ls-page-text-size) - 1px);
  font-weight: 400;
  line-height: 1.2;
  -webkit-box-flex: 1;
  flex-grow: 1;
  user-select: none;
}

html[data-theme="light"] .urllink {
  color: var(--ls-craftBookmarks-urllink-theme, #a1a2a3);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="dark"] .urllink {
  color: var(--ls-craftBookmarks-urllink-theme, rgb(145, 145, 145));
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/*notion书摘*/
html[data-theme="light"] .notionone {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--NotionbookmarksBorder, rgba(55, 53, 47, 0.16));
  background: var(--NotionbookmarksBackground-theme, #ffffff);
  margin-top: 2px;
  margin-bottom: 2px;
}

html[data-theme="dark"] .notionone {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--ls-bookmark-dark-mode-border, rgba(244, 244, 244, 0.12));
  background: transparent;
  margin-top: 2px;
  margin-bottom: 2px;
}

.boutline {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(100% - 25px);
  top: 0;
  left: 0;
}

.notion-focusable {
  user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  text-align: left;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  color: inherit;
  fill: inherit;
}

.flex4 {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  overflow: hidden;
  text-align: left;
}

.notion_bt {
  font-size: 14px;
  line-height: 20px;
  color: var(--ls-Notion-bt, rgb(55, 53, 47));
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
  margin-bottom: 2px;
}

.notion_url {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  color: var(--ls-Notion-link, #37352f);
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

/*notion 书签 标题*/
html[data-theme="light"] .notionbta {
  font-size: var(--ls-Notion-btFontsize, 14px);
  font-weight: var(--ls-Notion-btweight, normal);
  color: var(--ls-Notion-bt, rgb(55, 53, 47));
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="dark"] .notionbta {
  font-size: var(--ls-Notion-btFontsize, 14px);
  font-weight: var(--ls-Notion-btweight, normal);
  color: var(--ls-bookmark-title-color, #ffffff);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="light"] .notion_ms {
  font-size: 12px;
  line-height: 16px;
  color: var(--ls-Notion-ms, #878682);
  overflow: hidden;
}

html[data-theme="dark"] .notion_ms {
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
}

.msNot {
  font-size: 12px;
  line-height: 16px;
  color: var(--ls-Notion-ms, #878682);
  height: 0;
  overflow: hidden;
}

html[data-theme="light"] .msa {
  color: var(--ls-Notion-ms, #878682);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="dark"] .msa {
  color: var(--ls-bookmark-subtitle-color, rgba(244, 244, 244, 0.5));
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.tburl {
  display: flex;
  margin-top: 6px;
}

.tobiao {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 6px;
  margin-left: 0px;
  border: 0;
}

html[data-theme="light"] .urla {
  color: var(--ls-Notion-link, #37352f);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

html[data-theme="dark"] .urla {
  color: var(--ls-bookmark-subtitle-color, rgba(244, 244, 244, 0.5));
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

@media only screen and (max-width: 500px) {
  .flex1 {
    flex: 1 1 180px;
    display: none;
    position: relative;
  }

  @font-face {
    font-family: 'QuireIcons';
    src: url('https://link.jscdn.cn/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBbHlQTUV2aVVfU2poUDVPY3dTa3ZIY3JsTGh4b0E_ZT1XSDREQUY.eot');
    src: url('https://link.jscdn.cn/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBbHlQTUV2aVVfU2poUDVPY3dTa3ZIY3JsTGh4b0E_ZT1XSDREQUY.eot?#iefix') format('embedded-opentype'),
      url('https://link.jscdn.cn/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBbHlQTUV2aVVfU2poUDVQY0pyQ2w0czJKMVBubXc_ZT1wZURsN2Q.ttf') format('truetype'),
      url('https://link.jscdn.cn/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBbHlQTUV2aVVfU2poUDVRM3k2WWVFa1dCaE9hY3c_ZT02dEV3Wm4.woff') format('woff'),
      url('https://link.jscdn.cn/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBbHlQTUV2aVVfU2poUDVUTTVPNmZ2WW5Wckh2U2c_ZT11UUY5ZEo.svg') format('svg');
  }
}

@media only screen and (min-width: 500px) {
  .flex1 {
    flex: 1 1 180px;
    display: block;
    position: relative;
  }
}

.flex1next {
  position: absolute;
  inset: 0px;
}

.fex2 {
  width: 100%;
  height: 100%;
}

.aex {
  color: #37352f
}

/*notion 书摘上左边图片*/
.bkoud {
  display: block;
  object-fit: cover;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  /*设置透明度，因为默认黑色主题设置所有的图片透明度了，此处不需要设置了*/
  opacity: var(--Is-notionbookmarksLeft-img-opacity, 1);

}