/*Bullet Threading 子弹引导线 某个特殊标签所在的块 自定义颜色*/
/*我的问题的标签所在主块的子弹颜色*/
html[data-theme="light"]  [data-refs-self*="怪圈"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="情绪"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="情绪管理"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="情绪控制不当"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="过分情绪化"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="情绪崩溃"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="情感障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="抑郁症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="躁狂症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="强迫症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="惊恐症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="焦虑"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="疑病症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="讨好情绪"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="社交焦虑症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="分离性焦虑障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="广泛性焦虑障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="竞争焦虑"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="骄"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="洋洋得意"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="高傲和自大"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自我中心和自负"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="夸大和夸耀"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="忽视和轻视"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="不愿意接受批评"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="想象和自吹自擂"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="认知偏差"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="先知偏见"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="对立倾向"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="歧视和偏见"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="群体思维"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="行为模式"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="身体恶习"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="茫然懈怠"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="颠簸不安-惊慌失措"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="无聊、烦躁、不耐烦、不满足的状态"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="缺乏毅力和信心"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="沉迷于舒适区"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="沉迷娱乐-玩物丧志-不思进取"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="效率成瘾"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="积极废人"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自暴自弃"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="斤斤计较"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="责任心"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="决策困难"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="过度自我意识"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="与事恐惧-怯弱-逃避"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="逃避策略"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="执行力"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="拖延"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="负面情绪"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="计划性"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="效率低"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="求真实践"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="两分钟原则"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="即时满足"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="松鼠病"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="信息囤积症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="强迫性囤积症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="认知和行为习惯"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="完美主义"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="钻牛角尖"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="狭隘"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="虚荣"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="哗众取宠"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="抱怨"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="拒绝违缘逆境错误异同"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="低挫折容忍"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="注意力不足"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="专注力不足"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="负面偏向"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="思想灾难化"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自我欺骗"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="认知混乱-缺乏清晰的思维和判断能力-容易被外界干扰和影响"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="认知刚性,思想固执,难以接受新的思想和观念"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="困扰过去"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="政治偏见"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="连锁反应"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自我仇恨"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="冲动控制"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="沟通"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="言语特征"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="废话啰嗦、吐字不清"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="口头禅、脏话"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="戏谑浮夸"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="高级词汇"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="语速快声音小"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="眼神和肢体语言"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="沟通技巧"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="人格障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="依赖性人格障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="消化"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="疲惫"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="睡眠"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="心脏"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="亚健康"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自尊"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自信"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自信心"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="过慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="卑慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="邪慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="增上慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="谄"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="奴颜婢膝的巴结别人"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="隐藏自己的缺点和过失"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="压力"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="慢性压力"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="应激和压力"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="拖延症"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="性幻想"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="性成瘾"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="性欲望"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="Masturbation"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="贪"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="痴"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="恼"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="恨"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="忿"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="烦躁"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="急躁"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="恐惧"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="放逸"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="散乱"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="失念"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="不信"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="不正知"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="妄想"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="纠缠"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="固定型思维"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="昏沉"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="掉举"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="恶作"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="多虑"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="习惯"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="同恶懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="耽著劣事懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自轻凌懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="悭"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="无明"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="畏"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="浩然正气"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="独立自主"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="自卑"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="敏感"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="过度担心"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="浮躁"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="我执"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="我见"]>.block-main-container .bullet-container .bullet,
html[data-theme="light"]  [data-refs-self*="法执"]>.block-main-container .bullet-container .bullet{
  box-shadow: #f15eb0 0px 1px 1px;
  background-color: #f15eb0 !important;
}
html[data-theme="dark"]  [data-refs-self*="怪圈"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="情绪"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="情绪管理"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="情绪控制不当"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="过分情绪化"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="情绪崩溃"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="情感障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="抑郁症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="躁狂症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="强迫症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="惊恐症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="焦虑"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="疑病症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="讨好情绪"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="社交焦虑症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="分离性焦虑障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="广泛性焦虑障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="竞争焦虑"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="骄"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="洋洋得意"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="高傲和自大"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自我中心和自负"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="夸大和夸耀"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="忽视和轻视"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="不愿意接受批评"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="想象和自吹自擂"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="认知偏差"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="先知偏见"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="对立倾向"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="歧视和偏见"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="群体思维"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="行为模式"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="身体恶习"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="茫然懈怠"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="颠簸不安-惊慌失措"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="无聊、烦躁、不耐烦、不满足的状态"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="缺乏毅力和信心"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="沉迷于舒适区"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="沉迷娱乐-玩物丧志-不思进取"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="效率成瘾"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="积极废人"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自暴自弃"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="斤斤计较"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="责任心"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="决策困难"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="过度自我意识"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="与事恐惧-怯弱-逃避"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="逃避策略"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="执行力"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="拖延"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="负面情绪"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="计划性"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="效率低"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="求真实践"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="两分钟原则"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="即时满足"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="松鼠病"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="信息囤积症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="强迫性囤积症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="认知和行为习惯"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="完美主义"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="钻牛角尖"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="狭隘"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="虚荣"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="哗众取宠"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="抱怨"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="拒绝违缘逆境错误异同"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="低挫折容忍"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="注意力不足"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="专注力不足"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="负面偏向"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="思想灾难化"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自我欺骗"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="认知混乱-缺乏清晰的思维和判断能力-容易被外界干扰和影响"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="认知刚性,思想固执,难以接受新的思想和观念"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="困扰过去"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="政治偏见"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="连锁反应"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自我仇恨"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="冲动控制"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="沟通"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="言语特征"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="废话啰嗦、吐字不清"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="口头禅、脏话"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="戏谑浮夸"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="高级词汇"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="语速快声音小"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="眼神和肢体语言"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="沟通技巧"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="人格障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="依赖性人格障碍"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="消化"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="疲惫"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="睡眠"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="心脏"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="亚健康"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自尊"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自信"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自信心"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="过慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="卑慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="邪慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="增上慢"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="谄"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="奴颜婢膝的巴结别人"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="隐藏自己的缺点和过失"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="压力"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="慢性压力"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="应激和压力"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="拖延症"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="性幻想"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="性成瘾"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="性欲望"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="Masturbation"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="贪"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="痴"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="恼"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="恨"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="忿"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="烦躁"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="急躁"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="恐惧"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="放逸"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="散乱"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="失念"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="不信"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="不正知"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="妄想"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="纠缠"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="固定型思维"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="昏沉"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="掉举"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="恶作"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="多虑"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="习惯"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="同恶懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="耽著劣事懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自轻凌懒惰"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="悭"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="无明"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="畏"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="浩然正气"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="独立自主"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="自卑"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="敏感"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="过度担心"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="浮躁"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="我执"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="我见"]>.block-main-container .bullet-container .bullet,
html[data-theme="dark"]  [data-refs-self*="法执"]>.block-main-container .bullet-container .bullet{
  box-shadow: #a61468 0px 1px 1px;
  background-color: #a61468 !important;
}