/*自定义标签 EmEditor emeditor Emeditor Emeditor*/
:is(a[data-ref^="EmEditor"],.page-title-sizer-wrapper span[data-ref^="EmEditor"],a[data-ref^="emeditor"],.page-title-sizer-wrapper span[data-ref^="emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"]){
  color: inherit!important;
}
:is(a[data-ref^="EmEditor"],.page-title-sizer-wrapper span[data-ref^="EmEditor"],a[data-ref^="emeditor"],.page-title-sizer-wrapper span[data-ref^="emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="EmEditor"],.page-title-sizer-wrapper span[data-ref^="EmEditor"],a[data-ref^="emeditor"],.page-title-sizer-wrapper span[data-ref^="emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"])::before{
  content: "";
  background-image: url("https://files.getquicker.net/_icons/C98DFCB1DAADAF310B98628EDA41354128787578.png");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="EmEditor"],[data-ref^="emeditor"],[data-ref^="Emeditor"],[data-ref^="Emeditor"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="EmEditor"],[data-ref^="emeditor"],[data-ref^="Emeditor"],[data-ref^="Emeditor"])>a>span.page-icon {
  content: "";
  background-image: url("https://files.getquicker.net/_icons/C98DFCB1DAADAF310B98628EDA41354128787578.png");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 EmEditor emeditor Emeditor Emeditor*/
/*自定义标签 相处之道*/
:is(a[data-ref^="相处之道"],.page-title-sizer-wrapper span[data-ref^="相处之道"]){
  color: inherit!important;
}
:is(a[data-ref^="相处之道"],.page-title-sizer-wrapper span[data-ref^="相处之道"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="相处之道"],.page-title-sizer-wrapper span[data-ref^="相处之道"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps2BwW9zOA-ywfgKA/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="相处之道"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="相处之道"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps2BwW9zOA-ywfgKA/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 相处之道*/
/*自定义标签 抖音 tiktok Tiktok*/
:is(a[data-ref^="抖音"],.page-title-sizer-wrapper span[data-ref^="抖音"],a[data-ref^="tiktok"],.page-title-sizer-wrapper span[data-ref^="tiktok"],a[data-ref^="Tiktok"],.page-title-sizer-wrapper span[data-ref^="Tiktok"]){
  color: inherit!important;
}
:is(a[data-ref^="抖音"],.page-title-sizer-wrapper span[data-ref^="抖音"],a[data-ref^="tiktok"],.page-title-sizer-wrapper span[data-ref^="tiktok"],a[data-ref^="Tiktok"],.page-title-sizer-wrapper span[data-ref^="Tiktok"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="抖音"],.page-title-sizer-wrapper span[data-ref^="抖音"],a[data-ref^="tiktok"],.page-title-sizer-wrapper span[data-ref^="tiktok"],a[data-ref^="Tiktok"],.page-title-sizer-wrapper span[data-ref^="Tiktok"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps6344uYeqBqna3pA/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="抖音"],[data-ref^="tiktok"],[data-ref^="Tiktok"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="抖音"],[data-ref^="tiktok"],[data-ref^="Tiktok"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps6344uYeqBqna3pA/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 抖音 tiktok Tiktok*/

/*自定义标签 拒绝*/
:is(a[data-ref^="拒绝"],.page-title-sizer-wrapper span[data-ref^="拒绝"]){
  color: #34495e!important;
}
:is(a[data-ref^="拒绝"],.page-title-sizer-wrapper span[data-ref^="拒绝"]):hover{
    color: #34495e!important;
}
:is(a[data-ref^="拒绝"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #34495e;
}
:is(a[data-ref^="拒绝"],.page-title-sizer-wrapper span[data-ref^="拒绝"])::before{
  content: "\EB3B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #34495e;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="拒绝"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="拒绝"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #34495e;;
  content: "\EB3B";
}
/*自定义标签 拒绝*/
/*自定义标签 目标*/
:is(a[data-ref^="目标"],.page-title-sizer-wrapper span[data-ref^="目标"]){
  color: #217DBA!important;
}
:is(a[data-ref^="目标"],.page-title-sizer-wrapper span[data-ref^="目标"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="目标"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #a3d3d3;
}
:is(a[data-ref^="目标"],.page-title-sizer-wrapper span[data-ref^="目标"])::before{
  content: "\EB35";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="目标"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="目标"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EB35";
}
/*自定义标签 目标*/
/*自定义标签 课程*/
:is(a[data-ref^="课程"],.page-title-sizer-wrapper span[data-ref^="课程"]){
  color: inherit!important;
}
:is(a[data-ref^="课程"],.page-title-sizer-wrapper span[data-ref^="课程"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="课程"],.page-title-sizer-wrapper span[data-ref^="课程"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptRoJBntloMx_YdRQ/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="课程"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="课程"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptRoJBntloMx_YdRQ/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 课程*/
/*自定义标签 出轨*/
:is(a[data-ref^="出轨"],.page-title-sizer-wrapper span[data-ref^="出轨"]){
  color: #f7a0a8!important;
}
:is(a[data-ref^="出轨"],.page-title-sizer-wrapper span[data-ref^="出轨"]):hover{
    color: #f7a0a8!important;
}
:is(a[data-ref^="出轨"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #f7a0a8;
}
:is(a[data-ref^="出轨"],.page-title-sizer-wrapper span[data-ref^="出轨"])::before{
  content: "\EA0B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #f7a0a8;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="出轨"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="出轨"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #f7a0a8;;
  content: "\EA0B";
}
/*自定义标签 出轨*/
/*自定义标签 自律*/
:is(a[data-ref^="自律"],.page-title-sizer-wrapper span[data-ref^="自律"]){
  color: #217DBA!important;
}
:is(a[data-ref^="自律"],.page-title-sizer-wrapper span[data-ref^="自律"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="自律"],.page-title-sizer-wrapper span[data-ref^="自律"])::before{
  content: "\fb7c";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="自律"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="自律"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\fb7c";
}
/*自定义标签 自律*/
/*自定义标签 哲学*/
:is(a[data-ref^="哲学"],.page-title-sizer-wrapper span[data-ref^="哲学"]){
  color: #217DBA!important;
}
:is(a[data-ref^="哲学"],.page-title-sizer-wrapper span[data-ref^="哲学"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="哲学"],.page-title-sizer-wrapper span[data-ref^="哲学"])::before{
  content: "\EC8B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="哲学"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="哲学"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EC8B";
}
/*自定义标签 哲学*/
/*自定义标签 修行*/
:is(a[data-ref^="修行"],.page-title-sizer-wrapper span[data-ref^="修行"]){
  color: #217DBA!important;
}
:is(a[data-ref^="修行"],.page-title-sizer-wrapper span[data-ref^="修行"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="修行"],.page-title-sizer-wrapper span[data-ref^="修行"])::before{
  content: "\ecc9";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="修行"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="修行"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\ecc9";
}
/*自定义标签 修行*/
/*自定义标签 命运*/
:is(a[data-ref^="命运"],.page-title-sizer-wrapper span[data-ref^="命运"]){
  color: #217DBA!important;
}
:is(a[data-ref^="命运"],.page-title-sizer-wrapper span[data-ref^="命运"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="命运"],.page-title-sizer-wrapper span[data-ref^="命运"])::before{
  content: "\EAB5";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="命运"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="命运"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EAB5";
}
/*自定义标签 命运*/
/*自定义标签 积极心态*/
:is(a[data-ref^="积极心态"],.page-title-sizer-wrapper span[data-ref^="积极心态"]){
  color: #217DBA!important;
}
:is(a[data-ref^="积极心态"],.page-title-sizer-wrapper span[data-ref^="积极心态"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="积极心态"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #a3d3d3;
}
:is(a[data-ref^="积极心态"],.page-title-sizer-wrapper span[data-ref^="积极心态"])::before{
  content: "\EA9B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="积极心态"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="积极心态"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EA9B";
}
/*自定义标签 积极心态*/
/*自定义标签 直播*/
:is(a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"]){
  color: #ff9800!important;
}
:is(a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"]):hover{
    color: #ff9800!important;
}
:is(a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptSMsDHaJ4AuHwxlQ/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="直播"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="直播"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptSMsDHaJ4AuHwxlQ/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 直播*/
