:root {
  --leftdocwidth : 0.25rem;
  --leftdocheight : -0.15rem;
  --tagsradius:5px;
  --fontmarginright:5px;
}
@charset "UTF-8";
/*变量配置*/
:root{
  /*字体图标 fonticon*/
  --fonticon_Mr: 2px;
  --iconColor_Color: #217DBA;
  --Sidebar_icon_size: 1.25em;
  --Font_icon_name : 'tabler-icons';
  --pageIconML: -18px;
  --Icon_size_inPage:1em;
  /*图片*/
  --page_picture_Width:1em;
  --page_picture_Height:1em;
  --page_picture_Left:0px;
  --page_picture_Top:0.12em;
  --page_picture_marginRight:2px;
  --Lefticon_picture_Width:1.25em;
  --Lefticon_picture_Height:1.25em;
  --Lefticon_picture_left:0px;
  --Lefticon_picture_top:0px;
 

  /*emoji*/
  --emoji_size : 1em;
  --emoji_marginRight: 2px;
  --emoji_leftsider_marginRight:-20px;

  /*自定义图标*/
  --customIcon_bottom_BackgroundColor : red;
}

/*新增 文件图标*/
a[data-href$=".xlsx"]{
  color: #107c42 !important;
}
a[data-href$=".xlsx"]::before{

content: "";
background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhplc9srcm1LxqsXmVA/root/content");
background-size: 100%;
width: var(--Lefticon_picture_Width);
height: var(--Lefticon_picture_Height);
position: relative;
top: var(--leftdocwidth);
left:  var(--leftdocheight);
z-index: 0;
display: inline-block;
overflow:auto;
}
a[data-href$=".docx"] {
  color: #154eb0 !important;
}
a[data-href$=".docx"]::before{
  color: red !important;
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpldYD0CX6CyJOsw_g/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--leftdocwidth);
  left:  var(--leftdocheight);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  }
  a[data-href$=".txt"]{
    color: #6d6d75 !important;
  }
  a[data-href$=".txt"]::before{
    color: red !important;
    content: "";
    /*background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpliKkY6LYfhhFv3cQ/root/content");*/
    background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhplk0-67WpRt9EF1Cw/root/content");
    background-size: 100%;
    width: var(--Lefticon_picture_Width);
    height: var(--Lefticon_picture_Height);
    position: relative;
    top: var(--leftdocwidth);
    left:  var(--leftdocheight);
    z-index: 0;
    display: inline-block;
    overflow:auto;
    }
    a[data-href$=".css"]::before{
      color: red !important;
      content: "";
      /*background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpliKkY6LYfhhFv3cQ/root/content");*/
      background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhplm6RxUXVxsIAxP2w/root/content");
      background-size: 100%;
      width: var(--Lefticon_picture_Width);
      height: var(--Lefticon_picture_Height);
      position: relative;
      top: var(--leftdocwidth);
      left:  var(--leftdocheight);
      z-index: 0;
      display: inline-block;
      overflow:auto;
      }
      a[data-href$=".html"]{
        color: #6d6d75 !important;
      }
      a[data-href$=".html"]::before{
        color: red !important;
        content: "";
        /*background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpliKkY6LYfhhFv3cQ/root/content");*/
        background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhplsbj1yYZSs4QL4_A/root/content");
        background-size: 100%;
        width: var(--Lefticon_picture_Width);
        height: var(--Lefticon_picture_Height);
        position: relative;
        top: var(--leftdocwidth);
        left:  var(--leftdocheight);
        z-index: 0;
        display: inline-block;
        overflow:auto;
        }
/*自定义标签 office Office*/
:is(a[data-ref^="office"],.page-title-sizer-wrapper span[data-ref^="office"],a[data-ref^="Office"],.page-title-sizer-wrapper span[data-ref^="Office"]){
  color: inherit!important;
}
:is(a[data-ref^="office"],.page-title-sizer-wrapper span[data-ref^="office"],a[data-ref^="Office"],.page-title-sizer-wrapper span[data-ref^="Office"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="office"],.page-title-sizer-wrapper span[data-ref^="office"],a[data-ref^="Office"],.page-title-sizer-wrapper span[data-ref^="Office"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhplxowN3H0d4Go2gcg/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="office"],[data-ref^="Office"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="office"],[data-ref^="Office"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhplxowN3H0d4Go2gcg/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 office Office*/
/*自定义标签 Windows windows*/
:is(a[data-ref^="Windows"],.page-title-sizer-wrapper span[data-ref^="Windows"],a[data-ref^="windows"],.page-title-sizer-wrapper span[data-ref^="windows"]){
  color: inherit!important;
}
:is(a[data-ref^="Windows"],.page-title-sizer-wrapper span[data-ref^="Windows"],a[data-ref^="windows"],.page-title-sizer-wrapper span[data-ref^="windows"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="Windows"],.page-title-sizer-wrapper span[data-ref^="Windows"],a[data-ref^="windows"],.page-title-sizer-wrapper span[data-ref^="windows"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl0kg-F2iyuoVKDAg/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="Windows"],[data-ref^="windows"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="Windows"],[data-ref^="windows"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl0kg-F2iyuoVKDAg/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 Windows windows*/
/*自定义标签 Twitter twitter  twitter Twitter*/
:is(a[data-ref="Twitter"],.page-title-sizer-wrapper span[data-ref="Twitter"],a[data-ref="twitter"],.page-title-sizer-wrapper span[data-ref="twitter"],a[data-ref="twitter"],.page-title-sizer-wrapper span[data-ref="twitter"],a[data-ref="Twitter"],.page-title-sizer-wrapper span[data-ref="Twitter"]){
  color: inherit!important;
}
:is(a[data-ref="Twitter"],.page-title-sizer-wrapper span[data-ref="Twitter"],a[data-ref="twitter"],.page-title-sizer-wrapper span[data-ref="twitter"],a[data-ref="twitter"],.page-title-sizer-wrapper span[data-ref="twitter"],a[data-ref="Twitter"],.page-title-sizer-wrapper span[data-ref="Twitter"]):hover{
    color: inherit!important;
}
:is(a[data-ref="Twitter"],.page-title-sizer-wrapper span[data-ref="Twitter"],a[data-ref="twitter"],.page-title-sizer-wrapper span[data-ref="twitter"],a[data-ref="twitter"],.page-title-sizer-wrapper span[data-ref="twitter"],a[data-ref="Twitter"],.page-title-sizer-wrapper span[data-ref="Twitter"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl1s_DGsH1SEVe80Q/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="Twitter"],[data-ref="twitter"],[data-ref="twitter"],[data-ref="Twitter"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="Twitter"],[data-ref="twitter"],[data-ref="twitter"],[data-ref="Twitter"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl1s_DGsH1SEVe80Q/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 Twitter twitter  twitter Twitter*/

/*自定义标签 Telegram telegram*/
:is(a[data-ref="Telegram"],.page-title-sizer-wrapper span[data-ref="Telegram"],a[data-ref="telegram"],.page-title-sizer-wrapper span[data-ref="telegram"]){
  color: inherit!important;
}
:is(a[data-ref="Telegram"],.page-title-sizer-wrapper span[data-ref="Telegram"],a[data-ref="telegram"],.page-title-sizer-wrapper span[data-ref="telegram"]):hover{
    color: inherit!important;
}
:is(a[data-ref="Telegram"],.page-title-sizer-wrapper span[data-ref="Telegram"],a[data-ref="telegram"],.page-title-sizer-wrapper span[data-ref="telegram"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl3zmpjaXOSZHAjIA/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="Telegram"],[data-ref="telegram"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="Telegram"],[data-ref="telegram"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl3zmpjaXOSZHAjIA/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 Telegram telegram*/

/*自定义标签 onedrive Onedrive*/
:is(a[data-ref="onedrive"],.page-title-sizer-wrapper span[data-ref="onedrive"],a[data-ref="Onedrive"],.page-title-sizer-wrapper span[data-ref="Onedrive"]){
  color: inherit!important;
}
:is(a[data-ref="onedrive"],.page-title-sizer-wrapper span[data-ref="onedrive"],a[data-ref="Onedrive"],.page-title-sizer-wrapper span[data-ref="Onedrive"]):hover{
    color: inherit!important;
}
:is(a[data-ref="onedrive"],.page-title-sizer-wrapper span[data-ref="onedrive"],a[data-ref="Onedrive"],.page-title-sizer-wrapper span[data-ref="Onedrive"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl5NeHzyPHTL2Rugw/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="onedrive"],[data-ref="Onedrive"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="onedrive"],[data-ref="Onedrive"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl5NeHzyPHTL2Rugw/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 onedrive Onedrive*/
/*自定义标签 powertoys Powertoys*/
:is(a[data-ref="powertoys"],.page-title-sizer-wrapper span[data-ref="powertoys"],a[data-ref="Powertoys"],.page-title-sizer-wrapper span[data-ref="Powertoys"]){
  color: inherit!important;
}
:is(a[data-ref="powertoys"],.page-title-sizer-wrapper span[data-ref="powertoys"],a[data-ref="Powertoys"],.page-title-sizer-wrapper span[data-ref="Powertoys"]):hover{
    color: inherit!important;
}
:is(a[data-ref="powertoys"],.page-title-sizer-wrapper span[data-ref="powertoys"],a[data-ref="Powertoys"],.page-title-sizer-wrapper span[data-ref="Powertoys"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl2K3N_fzv4Yk7zUw/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="powertoys"],[data-ref="Powertoys"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="powertoys"],[data-ref="Powertoys"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl2K3N_fzv4Yk7zUw/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 powertoys Powertoys*/
/*自定义标签 PotPlayer potplayer Potplayer Potplayer*/
:is(a[data-ref="PotPlayer"],.page-title-sizer-wrapper span[data-ref="PotPlayer"],a[data-ref="potplayer"],.page-title-sizer-wrapper span[data-ref="potplayer"],a[data-ref="Potplayer"],.page-title-sizer-wrapper span[data-ref="Potplayer"],a[data-ref="Potplayer"],.page-title-sizer-wrapper span[data-ref="Potplayer"]){
  color: inherit!important;
}
:is(a[data-ref="PotPlayer"],.page-title-sizer-wrapper span[data-ref="PotPlayer"],a[data-ref="potplayer"],.page-title-sizer-wrapper span[data-ref="potplayer"],a[data-ref="Potplayer"],.page-title-sizer-wrapper span[data-ref="Potplayer"],a[data-ref="Potplayer"],.page-title-sizer-wrapper span[data-ref="Potplayer"]):hover{
    color: inherit!important;
}
:is(a[data-ref="PotPlayer"],.page-title-sizer-wrapper span[data-ref="PotPlayer"],a[data-ref="potplayer"],.page-title-sizer-wrapper span[data-ref="potplayer"],a[data-ref="Potplayer"],.page-title-sizer-wrapper span[data-ref="Potplayer"],a[data-ref="Potplayer"],.page-title-sizer-wrapper span[data-ref="Potplayer"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl8bU1Gcu8JmPsBNQ/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="PotPlayer"],[data-ref="potplayer"],[data-ref="Potplayer"],[data-ref="Potplayer"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="PotPlayer"],[data-ref="potplayer"],[data-ref="Potplayer"],[data-ref="Potplayer"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl8bU1Gcu8JmPsBNQ/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 PotPlayer potplayer Potplayer Potplayer*/
/*自定义标签 IDM idm*/
:is(a[data-ref="IDM"],.page-title-sizer-wrapper span[data-ref="IDM"],a[data-ref="idm"],.page-title-sizer-wrapper span[data-ref="idm"]){
  color: inherit!important;
}
:is(a[data-ref="IDM"],.page-title-sizer-wrapper span[data-ref="IDM"],a[data-ref="idm"],.page-title-sizer-wrapper span[data-ref="idm"]):hover{
    color: inherit!important;
}
:is(a[data-ref="IDM"],.page-title-sizer-wrapper span[data-ref="IDM"],a[data-ref="idm"],.page-title-sizer-wrapper span[data-ref="idm"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl98LRdGGUGEK2hGw/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="IDM"],[data-ref="idm"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="IDM"],[data-ref="idm"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl98LRdGGUGEK2hGw/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 IDM idm*/
/*自定义标签 eagle Eagle*/
:is(a[data-ref="eagle"],.page-title-sizer-wrapper span[data-ref="eagle"],a[data-ref="Eagle"],.page-title-sizer-wrapper span[data-ref="Eagle"]){
  color: inherit!important;
}
:is(a[data-ref="eagle"],.page-title-sizer-wrapper span[data-ref="eagle"],a[data-ref="Eagle"],.page-title-sizer-wrapper span[data-ref="Eagle"]):hover{
    color: inherit!important;
}
:is(a[data-ref="eagle"],.page-title-sizer-wrapper span[data-ref="eagle"],a[data-ref="Eagle"],.page-title-sizer-wrapper span[data-ref="Eagle"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl-Iyl8UMEg5FQw1Q/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="eagle"],[data-ref="Eagle"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="eagle"],[data-ref="Eagle"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl-Iyl8UMEg5FQw1Q/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 eagle Eagle*/
/*自定义标签 Photoshop photoshop photoshop Photoshop*/
:is(a[data-ref="Photoshop"],.page-title-sizer-wrapper span[data-ref="Photoshop"],a[data-ref="photoshop"],.page-title-sizer-wrapper span[data-ref="photoshop"],a[data-ref="photoshop"],.page-title-sizer-wrapper span[data-ref="photoshop"],a[data-ref="Photoshop"],.page-title-sizer-wrapper span[data-ref="Photoshop"]){
  color: inherit!important;
}
:is(a[data-ref="Photoshop"],.page-title-sizer-wrapper span[data-ref="Photoshop"],a[data-ref="photoshop"],.page-title-sizer-wrapper span[data-ref="photoshop"],a[data-ref="photoshop"],.page-title-sizer-wrapper span[data-ref="photoshop"],a[data-ref="Photoshop"],.page-title-sizer-wrapper span[data-ref="Photoshop"]):hover{
    color: inherit!important;
}
:is(a[data-ref="Photoshop"],.page-title-sizer-wrapper span[data-ref="Photoshop"],a[data-ref="photoshop"],.page-title-sizer-wrapper span[data-ref="photoshop"],a[data-ref="photoshop"],.page-title-sizer-wrapper span[data-ref="photoshop"],a[data-ref="Photoshop"],.page-title-sizer-wrapper span[data-ref="Photoshop"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl_jADB9eg1BR1oEw/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="Photoshop"],[data-ref="photoshop"],[data-ref="photoshop"],[data-ref="Photoshop"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="Photoshop"],[data-ref="photoshop"],[data-ref="photoshop"],[data-ref="Photoshop"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhpl_jADB9eg1BR1oEw/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 Photoshop photoshop photoshop Photoshop*/
/*自定义标签 TrayS trays Trays Trays*/
:is(a[data-ref="TrayS"],.page-title-sizer-wrapper span[data-ref="TrayS"],a[data-ref="trays"],.page-title-sizer-wrapper span[data-ref="trays"],a[data-ref="Trays"],.page-title-sizer-wrapper span[data-ref="Trays"],a[data-ref="Trays"],.page-title-sizer-wrapper span[data-ref="Trays"]){
  color: inherit!important;
}
:is(a[data-ref="TrayS"],.page-title-sizer-wrapper span[data-ref="TrayS"],a[data-ref="trays"],.page-title-sizer-wrapper span[data-ref="trays"],a[data-ref="Trays"],.page-title-sizer-wrapper span[data-ref="Trays"],a[data-ref="Trays"],.page-title-sizer-wrapper span[data-ref="Trays"]):hover{
    color: inherit!important;
}
:is(a[data-ref="TrayS"],.page-title-sizer-wrapper span[data-ref="TrayS"],a[data-ref="trays"],.page-title-sizer-wrapper span[data-ref="trays"],a[data-ref="Trays"],.page-title-sizer-wrapper span[data-ref="Trays"],a[data-ref="Trays"],.page-title-sizer-wrapper span[data-ref="Trays"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoAeF17hPT9_3GERQ/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="TrayS"],[data-ref="trays"],[data-ref="Trays"],[data-ref="Trays"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="TrayS"],[data-ref="trays"],[data-ref="Trays"],[data-ref="Trays"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoAeF17hPT9_3GERQ/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 TrayS trays Trays Trays*/
/*自定义标签 Reduce reduce*/
:is(a[data-ref="Reduce Memory"],.page-title-sizer-wrapper span[data-ref="Reduce Memory"],a[data-ref="reduce memory"],.page-title-sizer-wrapper span[data-ref="Reduce Memory"]){
  color: inherit!important;
}
:is(a[data-ref="Reduce Memory"],.page-title-sizer-wrapper span[data-ref="Reduce Memory"],a[data-ref="reduce memory"],.page-title-sizer-wrapper span[data-ref="Reduce Memory"]):hover{
    color: inherit!important;
}
:is(a[data-ref="Reduce Memory"],.page-title-sizer-wrapper span[data-ref="Reduce Memory"],a[data-ref="reduce memory"],.page-title-sizer-wrapper span[data-ref="Reduce Memory"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoBxoFgChVEDzV15Q/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="Reduce Memory"],[data-ref="reduce memory"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="Reduce Memory"],[data-ref="reduce memory"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoBxoFgChVEDzV15Q/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 Reduce reduce*/
/*自定义标签 Directory directory*/
:is(a[data-ref^="Directory"],.page-title-sizer-wrapper span[data-ref^="Directory"],a[data-ref^="directory"],.page-title-sizer-wrapper span[data-ref^="directory"]){
  color: inherit!important;
}
:is(a[data-ref^="Directory"],.page-title-sizer-wrapper span[data-ref^="Directory"],a[data-ref^="directory"],.page-title-sizer-wrapper span[data-ref^="directory"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="Directory"],.page-title-sizer-wrapper span[data-ref^="Directory"],a[data-ref^="directory"],.page-title-sizer-wrapper span[data-ref^="directory"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoCw-ni_2-84fDckA/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="Directory"],[data-ref^="directory"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="Directory"],[data-ref^="directory"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoCw-ni_2-84fDckA/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 Directory directory*/
/*自定义标签 Listary listary listary Listary*/
:is(a[data-ref="Listary"],.page-title-sizer-wrapper span[data-ref="Listary"],a[data-ref="listary"],.page-title-sizer-wrapper span[data-ref="listary"],a[data-ref="listary"],.page-title-sizer-wrapper span[data-ref="listary"],a[data-ref="Listary"],.page-title-sizer-wrapper span[data-ref="Listary"]){
  color: inherit!important;
}
:is(a[data-ref="Listary"],.page-title-sizer-wrapper span[data-ref="Listary"],a[data-ref="listary"],.page-title-sizer-wrapper span[data-ref="listary"],a[data-ref="listary"],.page-title-sizer-wrapper span[data-ref="listary"],a[data-ref="Listary"],.page-title-sizer-wrapper span[data-ref="Listary"]):hover{
    color: inherit!important;
}
:is(a[data-ref="Listary"],.page-title-sizer-wrapper span[data-ref="Listary"],a[data-ref="listary"],.page-title-sizer-wrapper span[data-ref="listary"],a[data-ref="listary"],.page-title-sizer-wrapper span[data-ref="listary"],a[data-ref="Listary"],.page-title-sizer-wrapper span[data-ref="Listary"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoDZFpd792SaCs5Ig/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="Listary"],[data-ref="listary"],[data-ref="listary"],[data-ref="Listary"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="Listary"],[data-ref="listary"],[data-ref="listary"],[data-ref="Listary"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoDZFpd792SaCs5Ig/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 Listary listary listary Listary*/
/*自定义标签 阿里云盘*/
:is(a[data-ref="阿里云盘"],.page-title-sizer-wrapper span[data-ref="阿里云盘"]){
  color: inherit!important;
}
:is(a[data-ref="阿里云盘"],.page-title-sizer-wrapper span[data-ref="阿里云盘"]):hover{
    color: inherit!important;
}
:is(a[data-ref="阿里云盘"],.page-title-sizer-wrapper span[data-ref="阿里云盘"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoFWWmtLzh2Q4cXlA/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="阿里云盘"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="阿里云盘"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoFWWmtLzh2Q4cXlA/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 阿里云盘*/
/*自定义标签 滴答清单*/
:is(a[data-ref="滴答清单"],.page-title-sizer-wrapper span[data-ref="滴答清单"]){
  color: inherit!important;
}
:is(a[data-ref="滴答清单"],.page-title-sizer-wrapper span[data-ref="滴答清单"]):hover{
    color: inherit!important;
}
:is(a[data-ref="滴答清单"],.page-title-sizer-wrapper span[data-ref="滴答清单"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoGbkmURQEHPmNd3A/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref="滴答清单"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref="滴答清单"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpoGbkmURQEHPmNd3A/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 滴答清单*/
/*自定义标签 clash Clash*/
:is(a[data-ref^="clash"],.page-title-sizer-wrapper span[data-ref^="clash"],a[data-ref^="Clash"],.page-title-sizer-wrapper span[data-ref^="Clash"]){
  color: inherit!important;
}
:is(a[data-ref^="clash"],.page-title-sizer-wrapper span[data-ref^="clash"],a[data-ref^="Clash"],.page-title-sizer-wrapper span[data-ref^="Clash"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="clash"],.page-title-sizer-wrapper span[data-ref^="clash"],a[data-ref^="Clash"],.page-title-sizer-wrapper span[data-ref^="Clash"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpotVnpAUAjVA9OAkg/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="clash"],[data-ref^="Clash"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="clash"],[data-ref^="Clash"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhpotVnpAUAjVA9OAkg/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 clash Clash*/
/*自定义标签 EmEditor emeditor Emeditor Emeditor*/
:is(a[data-ref^="EmEditor"],.page-title-sizer-wrapper span[data-ref^="EmEditor"],a[data-ref^="emeditor"],.page-title-sizer-wrapper span[data-ref^="emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"]){
  color: inherit!important;
}
:is(a[data-ref^="EmEditor"],.page-title-sizer-wrapper span[data-ref^="EmEditor"],a[data-ref^="emeditor"],.page-title-sizer-wrapper span[data-ref^="emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="EmEditor"],.page-title-sizer-wrapper span[data-ref^="EmEditor"],a[data-ref^="emeditor"],.page-title-sizer-wrapper span[data-ref^="emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"],a[data-ref^="Emeditor"],.page-title-sizer-wrapper span[data-ref^="Emeditor"])::before{
  content: "";
  background-image: url("https://files.getquicker.net/_icons/C98DFCB1DAADAF310B98628EDA41354128787578.png");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="EmEditor"],[data-ref^="emeditor"],[data-ref^="Emeditor"],[data-ref^="Emeditor"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="EmEditor"],[data-ref^="emeditor"],[data-ref^="Emeditor"],[data-ref^="Emeditor"])>a>span.page-icon {
  content: "";
  background-image: url("https://files.getquicker.net/_icons/C98DFCB1DAADAF310B98628EDA41354128787578.png");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 EmEditor emeditor Emeditor Emeditor*/
/*自定义标签 相处之道*/
:is(a[data-ref^="相处之道"],.page-title-sizer-wrapper span[data-ref^="相处之道"]){
  color: inherit!important;
}
:is(a[data-ref^="相处之道"],.page-title-sizer-wrapper span[data-ref^="相处之道"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="相处之道"],.page-title-sizer-wrapper span[data-ref^="相处之道"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps2BwW9zOA-ywfgKA/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="相处之道"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="相处之道"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps2BwW9zOA-ywfgKA/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 相处之道*/
/*自定义标签 抖音 tiktok Tiktok*/
:is(a[data-ref^="抖音"],.page-title-sizer-wrapper span[data-ref^="抖音"],a[data-ref^="tiktok"],.page-title-sizer-wrapper span[data-ref^="tiktok"],a[data-ref^="Tiktok"],.page-title-sizer-wrapper span[data-ref^="Tiktok"]){
  color: inherit!important;
}
:is(a[data-ref^="抖音"],.page-title-sizer-wrapper span[data-ref^="抖音"],a[data-ref^="tiktok"],.page-title-sizer-wrapper span[data-ref^="tiktok"],a[data-ref^="Tiktok"],.page-title-sizer-wrapper span[data-ref^="Tiktok"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="抖音"],.page-title-sizer-wrapper span[data-ref^="抖音"],a[data-ref^="tiktok"],.page-title-sizer-wrapper span[data-ref^="tiktok"],a[data-ref^="Tiktok"],.page-title-sizer-wrapper span[data-ref^="Tiktok"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps6344uYeqBqna3pA/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="抖音"],[data-ref^="tiktok"],[data-ref^="Tiktok"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="抖音"],[data-ref^="tiktok"],[data-ref^="Tiktok"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_Sjhps6344uYeqBqna3pA/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 抖音 tiktok Tiktok*/

/*自定义标签 拒绝*/
:is(a[data-ref^="拒绝"],.page-title-sizer-wrapper span[data-ref^="拒绝"]){
  color: #34495e!important;
}
:is(a[data-ref^="拒绝"],.page-title-sizer-wrapper span[data-ref^="拒绝"]):hover{
    color: #34495e!important;
}
:is(a[data-ref^="拒绝"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #34495e;
}
:is(a[data-ref^="拒绝"],.page-title-sizer-wrapper span[data-ref^="拒绝"])::before{
  content: "\EB3B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #34495e;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="拒绝"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="拒绝"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #34495e;;
  content: "\EB3B";
  margin-right: var(--fontmarginright) !important;
}
/*自定义标签 拒绝*/
/*自定义标签 目标*/
:is(a[data-ref^="目标"],.page-title-sizer-wrapper span[data-ref^="目标"]){
  color: #217DBA!important;
}
:is(a[data-ref^="目标"],.page-title-sizer-wrapper span[data-ref^="目标"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="目标"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #a3d3d3;
}
:is(a[data-ref^="目标"],.page-title-sizer-wrapper span[data-ref^="目标"])::before{
  content: "\EB35";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="目标"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="目标"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EB35";
  margin-right: var(--fontmarginright) !important;
}
/*自定义标签 目标*/
/*自定义标签 课程*/
:is(a[data-ref^="课程"],.page-title-sizer-wrapper span[data-ref^="课程"]){
  color: inherit!important;
}
:is(a[data-ref^="课程"],.page-title-sizer-wrapper span[data-ref^="课程"]):hover{
    color: inherit!important;
}
:is(a[data-ref^="课程"],.page-title-sizer-wrapper span[data-ref^="课程"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptRoJBntloMx_YdRQ/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="课程"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="课程"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptRoJBntloMx_YdRQ/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 课程*/
/*自定义标签 出轨*/
:is(a[data-ref^="出轨"],.page-title-sizer-wrapper span[data-ref^="出轨"]){
  color: #f7a0a8!important;
}
:is(a[data-ref^="出轨"],.page-title-sizer-wrapper span[data-ref^="出轨"]):hover{
    color: #f7a0a8!important;
}
:is(a[data-ref^="出轨"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #f7a0a8;
}
:is(a[data-ref^="出轨"],.page-title-sizer-wrapper span[data-ref^="出轨"])::before{
  content: "\EA0B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #f7a0a8;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="出轨"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="出轨"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #f7a0a8;;
  content: "\EA0B";
  margin-right: var(--fontmarginright) !important;
}
/*自定义标签 出轨*/
/*自定义标签 自律*/
:is(a[data-ref^="自律"],.page-title-sizer-wrapper span[data-ref^="自律"]){
  color: #217DBA!important;
}
:is(a[data-ref^="自律"],.page-title-sizer-wrapper span[data-ref^="自律"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="自律"],.page-title-sizer-wrapper span[data-ref^="自律"])::before{
  content: "\fb7c";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="自律"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="自律"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\fb7c";
 margin-right: var(--fontmarginright) !important;
}
/*自定义标签 自律*/
/*自定义标签 哲学*/
:is(a[data-ref^="哲学"],.page-title-sizer-wrapper span[data-ref^="哲学"]){
  color: #217DBA!important;
}
:is(a[data-ref^="哲学"],.page-title-sizer-wrapper span[data-ref^="哲学"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="哲学"],.page-title-sizer-wrapper span[data-ref^="哲学"])::before{
  content: "\EC8B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="哲学"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="哲学"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EC8B";
  margin-right: var(--fontmarginright) !important;
}
/*自定义标签 哲学*/
/*自定义标签 修行*/
:is(a[data-ref^="修行"],.page-title-sizer-wrapper span[data-ref^="修行"]){
  color: #217DBA!important;
}
:is(a[data-ref^="修行"],.page-title-sizer-wrapper span[data-ref^="修行"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="修行"],.page-title-sizer-wrapper span[data-ref^="修行"])::before{
  content: "\ecc9";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="修行"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="修行"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\ecc9";
  margin-right: var(--fontmarginright) !important;
}
/*自定义标签 修行*/
/*自定义标签 命运*/
:is(a[data-ref^="命运"],.page-title-sizer-wrapper span[data-ref^="命运"]){
  color: #217DBA!important;
}
:is(a[data-ref^="命运"],.page-title-sizer-wrapper span[data-ref^="命运"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="命运"],.page-title-sizer-wrapper span[data-ref^="命运"])::before{
  content: "\EAB5";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="命运"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="命运"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EAB5";
  margin-right: var(--fontmarginright) !important;
}
/*自定义标签 命运*/

/*自定义标签 直播*/
:is(a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"]){
  color: #ff9800!important;
}
:is(a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"]):hover{
    color: #ff9800!important;
}
:is(a[data-ref^="直播"],.page-title-sizer-wrapper span[data-ref^="直播"])::before{
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptSMsDHaJ4AuHwxlQ/root/content");
  background-size: 100%;
  width: var(--page_picture_Width);
  height: var(--page_picture_Height);
  position: relative;
  top: var(--page_picture_Top);
  left: var(--page_picture_Left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
  margin-right: var(--page_picture_marginRight);
}
:is([data-ref^="直播"]) > a > span.page-icon {
  text-indent:-9999px;
}
:is([data-ref^="直播"])>a>span.page-icon {
  content: "";
  background-image: url("https://api.onedrive.com/v1.0/shares/s!AlyPMEviU_SjhptSMsDHaJ4AuHwxlQ/root/content");
  background-size: 100%;
  width: var(--Lefticon_picture_Width);
  height: var(--Lefticon_picture_Height);
  position: relative;
  top: var(--Lefticon_picture_top);
  left: var(--Lefticon_picture_left);
  z-index: 0;
  display: inline-block;
  overflow:auto;
}
/*自定义标签 直播*/
/*自定义标签 积极心态*/
:is(a[data-ref^="积极心态"],.page-title-sizer-wrapper span[data-ref^="积极心态"]){
  color: #217DBA!important;
}
:is(a[data-ref^="积极心态"],.page-title-sizer-wrapper span[data-ref^="积极心态"]):hover{
    color: #217DBA!important;
}
:is(a[data-ref^="积极心态"].tag) {
/*只有data-ref^="XX"并且class=tag的才添加边框*/
  border: 1px solid #a3d3d3;
}
:is(a[data-ref^="积极心态"],.page-title-sizer-wrapper span[data-ref^="积极心态"])::before{
  content: "\EA9B";
  font-size: var(--Icon_size_inPage);
  font-family: var(--Font_icon_name);
  color: #217DBA;
  margin-right: var(--fonticon_Mr);
}
:is([data-ref^="积极心态"]) > a > span.page-icon {
  text-indent:-9999px;
   position: relative;
  margin-right:var(--pageIconML) !important;
}
:is([data-ref^="积极心态"])>a::before {
  font-family: var(--Font_icon_name);
  font-size: var(--Sidebar_icon_size);
  color: #217DBA;;
  content: "\EA9B";
  margin-right: var(--fontmarginright) !important;
}
/*自定义标签 积极心态*/
